body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
}
.App {
  text-align: center;
  background: aliceblue;
}
nav {
 color: aliceblue;
 background-color: steelblue;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 7px;

}
.intern-preview {
  border-bottom: 2px solid rgba(137, 191, 203, 0.871);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.intern-preview:hover {
  box-shadow: 4px 0 0 4px rgba(137, 191, 203, 0.871);
}
.intern-preview h2 a  {
  font-size: 20px;
  color: royalblue;
  text-decoration: none;
}
h4 {
  color: royalblue;
}
.rows {
  display: flex;
  border-bottom: 1px solid rgba(137, 191, 203, 0.871);
  justify-content: space-evenly;
}
.interns-list {
  justify-content: space-between;
}
.images {
  margin-left: 47%;
  margin-top: 20px;
  border-radius: 19px 12px;
}
.title {
  margin-top: 20px;
}
.name {
  color: royalblue;
}
.path {
  color: royalblue;
}
.email {
  color: royalblue;
}